<div class="add-turn-form">
  <h2>הוספת תור חדש</h2>
  <form [formGroup]="turnForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>יום:</label>
      <input type="text" formControlName="day" />
    </div>

    <div class="form-group">
      <label>שעה:</label>
      <input type="text" formControlName="hour" />
    </div>

    <div class="button-group">
      <button mat-flat-button color="primary" class="back-button" type="submit">
        <mat-icon>check</mat-icon> שמור
      </button>

      <button mat-flat-button color="warn" class="back-button" type="button" (click)="onCancel()">
        <mat-icon>close</mat-icon> ביטול
      </button>
    </div>

  </form>
</div>
